.dat-ve {
    width: 100%;
    height: 100vh;
    overflow: hidden;
   .dat-ve-container {
        height: 100%;
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}